# Python
__pycache__/
*.py[cod]
*$py.class

# Configuration files with sensitive data
config.py

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log 
# Ignore credentials
app/credentials/serviceAccountKey.json
ServiceKey.json
*.json
